
html, body {
  margin: 0;
  padding: 0;
  color: #444444;
  line-height: 140%;

}

body {
  background-color: #252522;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: #33eeff;
  text-decoration: none;
}


.logo{
  width: 200px;
  float:left;
  padding: 0px;
  margin:11px;
}


#navigation{
  width: 100%;
  padding: 10px;
  border: 1px solid #444444;
  border-color: #666666 #222222 #111111 #222222;


  background: -webkit-linear-gradient(rgba(0,0,0,0.95),rgba(70,70,70,0.6)); /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(rgba(0,0,0,0.95),rgba(70,70,70,0.6)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,0.95),rgba(70,70,70,0.6)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,0.95),rgba(70,70,70,0.6)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0,0,0,0.95),rgba(70,70,70,0.6)); /* Standard syntax */

  display:inline-block;
  box-shadow: 0px 5px 20px 2px #111111;
  color: #888888;
  text-shadow: 0px 1px 0px rgba(255,255,255,.1), 0px -1px 0px rgba(0,0,0,.5);
}


#footer {
  padding-top: 100px;
  font-style: italic;
}

.infobox {
  background-color: #333333;
  width: 60%;
  min-width: 400px;
  padding:40px 20px 40px 20px;
  color: #888888;
  border-radius: 16px;
  margin-bottom: 20px;
  margin-top: 80px;
  box-shadow: 0px 5px 10px 2px #111111;
  border: 1px solid #444444;
  border-color: #666666 #222222 #111111 #222222;
}



h1 {
  color: #33eeff;
  font-weight:normal;
  text-transform: uppercase;
  margin-top: 0px;
  letter-spacing: 4px;
  line-height: 120%;
  margin-bottom: 10px;
  font-size: 28px;
  text-shadow: 0px 1px 0px rgba(255,255,255,.0), 0px -2px 0px rgba(0,0,0,.3);
}

h3 {
  color: #bbbbbb;
  font-weight: normal;
  margin-top: 0px;
}

#screens{
padding-top: 0px;
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  margin-bottom: 0px;

}

.release{
  padding: 20px;
  border: 1px solid #444444;
  border-color: #666666 #222222 #111111 #222222;
  margin: 10px;
  background-color: #333333;
  display:inline-block;
  box-shadow: 0px 5px 10px 2px #111111;
  vertical-align: top;
  color: #888888;
  text-shadow: 0px 1px 0px rgba(255,255,255,.1), 0px -1px 0px rgba(0,0,0,.5);
}

a.link{
  text-align: center;
  word-wrap: break-word;
  display:block;
  border: 2px solid;
  border-radius: 4px;
  border-color: #aaaaaa #666666 #333333 #666666;
  padding: 6px 23px 6px 23px;
  margin-top:10px;
  color: #eeeeee;
  box-shadow: 0px 5px 8px 2px #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 80%;
  text-shadow: 0px 1px 0px rgba(255,255,255,.4), 0px -1px 0px rgba(0,0,0,.5);

  background-color: #888888;
  background: -webkit-linear-gradient(#555555,#888888); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#555555,#888888); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#555555,#888888); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#555555,#888888); /* Standard syntax */
}

a.link:hover{
  background-color: #999999;
  background: -webkit-linear-gradient(#777777,#bbbbbb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#777777,#bbbbbb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#777777,#bbbbbb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#777777,#bbbbbb); /* Standard syntax */
  color: #ffffff;
  box-shadow: 0px 2px 4px 2px #222222;
}


a.link.youtube{
  float:right;
  width: 35%;
  border-color: #aa7777 #663333 #442222 #663333;
  background-color: #888888;
  background: -webkit-linear-gradient(#662222,#bb5555); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#662222,#bb5555); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#662222,#bb5555); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#552222,#bb6666); /* Standard syntax */
}

a.link.youtube:hover{
  background-color: #999999;
  background: -webkit-linear-gradient(#bb4444,#dd7777); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#bb4444,#dd7777); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#bb4444,#dd7777); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#663333,#cc6666); /* Standard syntax */
  color: #ffffff;
  box-shadow: 0px 2px 4px 2px #222222;
}

a.link.short{
  float:left;
  width: 35%;
}

a.link.shortright{
  float:right;
  width: 35%;
}

a.link.nav{

  float: left;
  margin: 6px;
  font-size: 70%;
  min-width: 160px;
}

p.info{
  display:block;
  color: #888888;
  margin: 0px;
  padding: 4px 10px 4px 10px;
  text-align: left;
  width: 364px;
  font-size: 14px;
  min-height: 80px;
}

p.info a{
  color: #0088dd;
}

.release h1{
  font-size: 120%;
  display:block;
  padding: 2px;
  margin-top:10px;
  color: #cccccc;
  letter-spacing: 2px;
   text-shadow: 0 1px 0 #777,
               0 2px 0 #444,              
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 2px 2px rgba(0,0,0,.4),
               0 4px 6px rgba(0,0,0,.5);

}

.release img{
  border: 1px solid #888888;
  border-color: #111111 #333333 #666666 #333333;

}

.newsdate{
  vertical-align: top;
  margin-right: 20px;
  min-width: 120px;
  margin-bottom: 10px;
  float: left;
  background-color: #222222;
  padding: 6px;
  padding-right: 12px;
  text-align: left;
  text-transform: uppercase;
 
}

.newstext{
  text-align: left;
}

.clear
{
    clear: both;
}

p.spacer{
  margin-top:60px;
}
